.circle-container{
    height: 350px;
    width:  250px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);

    svg{
      height: 120px;
      width: 120px;
      position: relative;
      transform: translate(calc(50% + 10px) , calc(50% + 60px)) rotate(-90deg);

      circle{
        fill: transparent;
        stroke: #007eff;
        stroke-width: 10px;
        stroke-linecap: round;
        stroke-dasharray: 313;
        stroke-dashoffset: 0;
        animation-delay: 1s;
        // animation: circleani 8s linear infinite;
      }
    }
    .stop{
      height: 120px;
      width: 120px;
      background-color: #007efe;
      background: transparent;
      border-radius: 50%;
      border: 10px solid #007eff;
      position: absolute;
      transform: translate(50%);
      display: none;

    }
    .progressbar{
      position: absolute;
      bottom: 60px;
      width: 100%;
      text-align: center;
      font-size: 1.8em;
      font-weight: 800;
      color: #007efe
    }
    .counter{
      position: absolute;
      left: 45%;
      top: 50%;
      font-size: 1.6em;

    }
  }

@keyframes circleani {
    100%{
      stroke-dashoffset: 0;
    }
  }
